body{
  background-color: green;
}
#root{
  width: 100%;
  min-width: 80%;
}
.thed{
  min-width: 701;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
button {
width: 100%;
font-size: 450%;
color: white;
background-color: black;
border-color: cornsilk;
border-radius: 15px;
box-shadow:inset 15px 15px 35px gray,inset -15px -15px 35px gray;
}
.ac {
color: red;
}
.SIETE {
color: white;
background-color: gainsboro;
border-radius: 15px;
}